body {
  background-color: aquamarine;
}

h1 {
  font-size: 30px;
  color: red;
  background: linear-gradient(to left, #8942a8, #ba382f);
}
.big {
  color: seagreen;
}
.uppercase {
  text-transform: uppercase;
}

.uppercase.big {
  color: seagreen;
}

span {
  color: purple;
}

.hh {
  padding-top: 110px;
  background: linear-gradient(to right, #8942a8, #ba382f);
}
